<!DOCTYPE html>
<html lang="en">
 <meta charset="utf-8">
 <title>Super geocoder1</title>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
  </head>
    <body>
     <div class = "container">
      <h1>Super geocoder</h1>
       <h3>Please upload your CSV file. The value containing addresses should be in a column named address or Address.</h3>
       <form action="/home/liudaska/Python/Udemy/geocoder/templates/success.html" method="POST">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile"><br><br>
        <button type="submit"> Submit </button>
       </form>
      </div>
    </body>
</html>



